CompileFlags:
  CompilationDatabase: builddir # this is where meson generates compile_commands.json
  Add: [
    "-isystemC:/Users/Liam Teale/AppData/Roaming/Code/User/globalStorage/sigbots.pros/install/pros-toolchain-windows/usr/bin/../lib/gcc/arm-none-eabi/13.3.1/../../../../arm-none-eabi/include/c++/13.3.1",
    "-isystemC:/Users/Liam Teale/AppData/Roaming/Code/User/globalStorage/sigbots.pros/install/pros-toolchain-windows/usr/bin/../lib/gcc/arm-none-eabi/13.3.1/../../../../arm-none-eabi/include/c++/13.3.1/arm-none-eabi/thumb/v7-a+simd/softfp",
    "-isystemC:/Users/Liam Teale/AppData/Roaming/Code/User/globalStorage/sigbots.pros/install/pros-toolchain-windows/usr/bin/../lib/gcc/arm-none-eabi/13.3.1/../../../../arm-none-eabi/include/c++/13.3.1/backward",
    "-isystemC:/Users/Liam Teale/AppData/Roaming/Code/User/globalStorage/sigbots.pros/install/pros-toolchain-windows/usr/bin/../lib/gcc/arm-none-eabi/13.3.1/include",       
    "-isystemC:/Users/Liam Teale/AppData/Roaming/Code/User/globalStorage/sigbots.pros/install/pros-toolchain-windows/usr/bin/../lib/gcc/arm-none-eabi/13.3.1/include-fixed", 
    "-isystemC:/Users/Liam Teale/AppData/Roaming/Code/User/globalStorage/sigbots.pros/install/pros-toolchain-windows/usr/bin/../lib/gcc/arm-none-eabi/13.3.1/../../../../arm-none-eabi/include",
  ]
Index:
  StandardLibrary: No # we use headers from arm-none-eabi. We can turn this off with no downside.
Diagnostics:
  Suppress:
  - redefinition_different_typedef # hopefully this won't be needed once FreeRTOS has been updated
  - main # _startup calls main after libc has been initialized. This is industry standard
  - language-extension-token # for asm calls in .c files