.vscode/
.idea/
bin/
.*.sw*
template/
version
cquery_log.txt
compile_commands.json
.ccls-cache/
.ccls
temp.log
temp.errors
.d/
.clangd/
/.clangd
.cache/
.DS_Store
*.zip
firmware/libv5rt
# only ignore subfolders, not files
subprojects/*/
builddir/