CompileFlags:
  CompilationDatabase: build # this is where meson generates compile_commands.json
  Add: [
    # system include paths will be inserted, making them the first 6 elements of the array
  ]
Index:
  StandardLibrary: No # we use headers from arm-none-eabi. We can turn this off with no downside.
Diagnostics:
  Suppress:
  - redefinition_different_typedef # hopefully this won't be needed once FreeRTOS has been updated
  - main # _startup calls main after libc has been initialized. This is industry standard
  - language-extension-token # for asm calls in .c files